@import "tailwindcss";

@theme {
  /* Задаем наши кастомные цвета из дизайна */
  --color-background: #0a0a0a;
  --color-surface: #111111;
  --color-surface-border: #222222;
  --color-neon-green: #00ff88;
  --color-neon-cyan: #00e5ff;
  --color-text-muted: #888888;
}

body {
  background-color: var(--color-background);
  color: white;
}
